{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="item">
    <img class="thumbnail" style="margin: auto" src="/api/v1/source/{{source.fingerprint}}/thumbnail"></img>
    <div class="item-text">
        <h1>{{source.title}}</h1>
        {{source.summary}}
    </div>
</div>

{% for episode in source.episodes %}
<div class="item">
    <img class="thumbnail" src="/api/v1/episode/{{episode.fingerprint}}/thumbnail"></img>
    <div class="item-text">
        <h1><a href="/episode/{{episode.fingerprint}}"> {{episode.title}}</a></h1>
        {{episode.summary | escape_html}}
    </div>
</div>
{% endfor %}
</div>

</div>
{% endblock %}
